.image {
    width: 97%;
    padding-top: 5px;
    margin: auto;
    border-radius: 8px;
}

.overview {
    flex: 1;
}

.info {
    margin-top: 10px;

    background-color: rgb(143, 142, 142);
    border-radius: 0 0 5px 5px;
}

.rating {
    width: 80px;
    padding: 5px;
    background-color: blue;
    color: #fff;
    border-radius: 10px;

}

.progress {
    width: 200px;
    margin-top: 15px;
    margin-bottom: 10px;
}

@media (max-width:767px) {

    h1 {
        font-size: 36px;
    }

    .overview {
        font-size: 24px;
    }

    .rating {
        width: 200px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .progress {
        width: 300px;
        height: 20px;
    }
}