* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  scroll-behavior: smooth;
}



.App {
  text-align: center;

}


button {
  padding: 25px 25px;
  font-size: 24px;
  border-radius: 20px;
}